GARMIN_EMAIL=
GARMIN_PASSWORD=
GARMIN_IS_CN_ACCOUNT=true

EXE_DIARY_DATA_DIR=data
EXE_DIARY_DB_PATH=data/exe_diary.sqlite
EXE_DIARY_LOG_DIR=logs

EXE_DIARY_AUTO_RUN_ENABLED=false
EXE_DIARY_AUTO_RUN_TIME=20:30
